
<link href="http://localhost:3002/static/page.css" rel="stylesheet" />
<link href="http://localhost:3002/static/outlines.css" rel="stylesheet" />
<div class="body">
  <h2>Recommendations</h2>
  <div class="recommendations">
    <a href="http://localhost:3001/product/fendt" target="_parent">
      <img src="https://mi-fr.org/img/fendt.svg" />
    </a>
    <a href="http://localhost:3001/product/eicher" target="_parent">
      <img src="https://mi-fr.org/img/eicher.svg" />
    </a>
  </div>
</div>

